<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="http" verbose="1">
	<test name="regression">
		<packages>
			<package name="com.google.code.http4j.client" />
			<package name="com.google.code.http4j.client.impl" />
			<package name="com.google.code.http4j.client.impl.utils" />
			<package name="com.google.code.http4j.client.impl.parsers" />
		</packages>
	</test>
</suite>